.mainBg {
    background-color: #1abc9c !important;
}

.divider {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dividerLine {
    background-color: #fff !important;
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dividerLine:first-child {
    margin-right: 1rem;
}

.dividerLine:last-child {
    margin-left: 1rem;
}

.h2Style {
    font-size: 3.4rem;
    line-height: 2rem;
    color: #fff !important;
    padding-bottom: 1rem;
}

.lead {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 300;
}