:root {
    --primary-color: #1abc9c;
    --light-color: #fff;
}

.textColor {
    color: var(--light-color);
}

.navStyle {
    padding: 1.5rem 0;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: #2c3e50 !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.navbrandStyle {
    color: var(--light-color) !important;
    font-size: 1.5rem;
}

.navlinkStyle {
    color: var(--light-color) !important;
    font-size: 1.2rem;
    cursor: pointer;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border-radius: 1rem;
    display: inline-block;
    padding: 10px;
}

.navlinkStyle:hover {
    color: var(--primary-color) !important;
}

.navlinkStyle.active {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.navtogglerStyle {
    padding: 0.8rem;
    color: var(--light-color) !important;
    background-color: var(--primary-color) !important;
    font-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activeNav {
    color: var(--light-color) !important;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border-radius: 1rem;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
    padding: 10px;
}

.activeNav:hover {
    color: var(--light-color) !important;
}